<div class="col-xs-12 col-md-3 col-sm-6 featured-item element-img wow fadeInUp animated" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp; background-image: url(&quot;{tag_тизер_value}&quot;);">
     <a href="{tag_itemurl_withhost}" title="" class="meta animsition-link">
        <h3 style="color:#fff">{tag_название}</h3>
                            <hr class="byline-accent">
         <span class="title small">от {tag_цена} руб.</span>
        <span class="byline">{tag_вводный_текст}</span>
                        </a>
                    </div>