<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInLeft" data-wow-delay="0.{tag_counter}s">
                                <h4>{tag_name_nolink}</h4>
         
                                   

                                </div>
                            
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 wow fadeInRight" data-wow-delay="0.{tag_counter}s">
        <p>{tag_description}</p>
                                <!-- PANEL START -->
                                <div class="panel">
                                    <div class="panel-heading">
                                        <a class="panel-title" data-toggle="collapse" data-parent="#job-{tag_counter}" href="#job-{tag_counter}-dropdown">
                                        Подробнее об этой вакансии <span><i class="glyphicon glyphicon-chevron-down"></i></span>
                                        </a>
                                    </div>
                                    <div id="job-{tag_counter}-dropdown" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            {tag_подробнее}
                                        </div>
                                        <!-- // .panel-body -->
                                    </div>
                                    <!-- // .panel-collapse -->
                                </div>
                                <!-- // .panel -->
                            </div>
                            <!-- // .col-xs-12 .col-sm-9 .col-md-9 .col-lg-9 -->
                            <div class="clearfix"></div>
                            <hr>
                        </div>