<!DOCTYPE html>
<!--[if lte IE 8 ]>
<html class="ie" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-RU" lang="ru-RU">
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-RU" lang="ru-RU">
<!--<![endif]-->

{module_webapps,Настройки,a template="/_settings/head.tpl"}

<body id="contact" class="lightnav animsition">

    <!-- ============================ Off-canvas navigation ============================ -->

    {module_webapps,Настройки,a template="/_settings/слайдер-меню.tpl"}

    <!-- ============================ END Off-canvas navigation ============================ -->

    <!-- ============================ #sb-site Main Page Wrapper =========================== -->

    <div id="sb-site">
    <!-- #sb-site - All page content should be contained within this id, except the off-canvas navigation itself -->

        <!-- ============================ Header & Logo bar =========================== -->

       {module_webapps,Настройки,a template="/_settings/навигация.tpl"}
        
        <!-- ============================ END Header & Logo bar =========================== -->

        <!-- ============================ Page header =========================== -->

        

        <!-- ============================ END Page header =========================== -->

        <!-- ============================ Contact Form =========================== -->

        <section class="container boost" style="padding-top: 150px; padding-bottom: 150px;">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                    <div class="titleblock text-center">
                        
                        <h1>404</h1>
                        <h2>Страница не найдена</h2>
                        <p class="lead">
                            <a href="/" style="text-decoration: underline" class="animsition-link"><b>Нажмите здесь</b>,</a> чтобы перейти на главную.	
	</p>
                    </div>
                    
                    
                </div>
            </div><br>
        </section>

        <!-- ============================ END Contact Form =========================== -->

        <!-- ============================ Additional Text =========================== -->

        <!--section id="contact-foot" class="container">
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-md-4 title-emphasis text-right">
                        <h3>We aim <span>higher</span> than the rest, and <span>strive</span> for perfection.</h3>
                    </div>
                    <div class="col-md-8">
                        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee.</p>
                    </div>
                </div>
            </div>
        </section-->

        <!-- ============================ END Additional Text =========================== -->

        <!-- ============================ Hire us =========================== -->

     

        <!-- ============================ END Hire us =========================== -->

        <!-- ============================ Footer =========================== -->

      {module_webapps,Настройки,a template="/_settings/footer.tpl"}

        <!-- ============================ Footer =========================== -->
        
        <!-- //////////////////////////////////////////////////////////// -->
        <!-- Load our scripts -->

        <script src="js/plugins.min.js"></script><!-- Bootstrap core and concatenated plugins always load first -->
        <script src="js/scripts.js"></script><!-- Theme scripts -->

        <!-- Load our contact form script -->
        <script src="includes/jqBootstrapValidation.js"></script><!-- Form Validation for contact form -->
        <script src="includes/contact-form/contact_me.js"></script><!-- Contact form js -->
        

    </div>
    <!-- ============================ END #sb-site Main Page Wrapper =========================== -->

</body>
</html>