<div class="filter-item {tag_категория} wow fadeInUp" data-wow-delay="0.{tag_counter}s" data-cat="{tag_категория}">
                            <div class="filter-item-wrapper">
                                <a href="{tag_itemurl_withhost}" title="{tag_название}" alt="{tag_название}" class="animsition-link">
                                    <img src="{tag_тизер_value}?Action=thumbnail&Width=400&Height=300&algorithm=fill_proportional" alt="{tag_название}" />
                                </a>
                            </div>
                            <div class="byline">
                                <div>
                                    <a href="{tag_itemurl_withhost}" title="{tag_название}" alt="{tag_название}" class="animsition-link">{tag_name_nolink}</a>
                                </div>
                            </div>
</div>