<div class="row">
	<div class="col-md-4">
		<div class="image"> {tag_largeimage}
			<div class="poplets">{tag_poplets,5,60,60}</div>
		</div>
	</div>
	<div class="col-md-8">
		<h1>{tag_name}</h1>
		<ul class="list-unstyled">
			<li class="price h3"><strong>{tag_saleprice}</strong></li>
			<li class="quantity hide">{tag_addtocartinputfield}</li>
			<li class="addtocart">{tag_addtocart,<img src="/CatalystImages/shop_addtocart.png" />}</li>
		</ul>
		
		<hr>
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a data-toggle="tab" href="#Description">Description</a></li>
			<li><a data-toggle="tab" href="#ShippingPolicy">Shipping Policy</a></li>
			<li><a data-toggle="tab" href="#ReturnPolicy">Return Policy</a></li>
		</ul>
		<div class="tab-content">
			<div id="Description" class="tab-pane fade in active">
				<h4>Product Features and Specifications</h4>
				{tag_description}
			</div>
			<div id="ShippingPolicy" class="tab-pane fade in">
			<h4>Our No-Hassle Shipping Policy</h4>
				<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
			</div>
			<div id="ReturnPolicy" class="tab-pane fade in">
			<h4>100% Satisfaction Guaranteed Returns</h4>
				<p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
			</div>
		</div>
	</div>
</div>