<div class="bs-header">
	<div class="container">	
		<div class="row">
			<div class="col-xs-12">
				<h1>Online Shop</h1>
				<p class="description">You love our products. We love you.</p>
			</div>
			
		</div>
	</div>
</div>

<div class="container page_content">
	<div class="row">
		<div class="col-xs-12">
			You are here: {tag_cataloguebreadcrumbs}
			{module_shoppingcartsummary,horizontal}
		</div>
	</div>
	{tag_productlist,6,,20,,true,true} 

	<div class="row">
		<div class="col-xs-12">
			{tag_previouspage,<img alt="" src="/CatalystImages/module_previous.png" />} {tag_nextpage,<img alt="" src="/CatalystImages/module_next.png" />}
			<br />
			<br />
			{tag_pagination}
		</div>
	</div>
</div>